<!-- *******************************************  Whole Page  ******************************************* !-->
	<div class="container-fluid p-0 w-100 position-absolute Container" style=" z-index: 0; display: table;" id="container">
	<div class="py-5"></div>


		<!-- *******************************************  Container  ******************************************* !-->
		<div class="userReply mx-auto rounded-lg shadow-lg" style="min-height: 600px; width: 95%; height: 90%; display: ;">

				
			<div class="w-100 h-100 py-5">