
<!-- *******************************************  Footer  ******************************************* !-->
	<div class="py-4" id="footer"></div>
	<div class="text-white w-100 shadow-sm footer" id="footer">
		<div class="m-4 pl-1" style="display:grid; width: max-content;">
			<a href="/about" class="text-white">About</a>
			<a href="/team" class="text-white">Our Team</a>
			<a href="/contact" class="text-white">Contact</a>
		</div>
	</div>
</div>