<div class="d-flex mx-auto" style="min-height: 550px;">
    <div class="card bg-light mb-3 w-75 mx-4">
        <div class="card-header bg-secondary text-white text-uppercase h5"><svg class="bi bi-award-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="margin-left: -10px; margin-top: -8px;">
  <path d="M8 0l1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/>
  <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
</svg> About us</div>
        <div class="card-body">
            <p>
                Foorum is developed by a group of three people taking up application development. A social media application was chosen by the members as the project as it entails heavy concepts of the functions that modern applications look require. The design concept used for this project is that of simplicity - we wanted the users to have a great user experience journey.
            </p>
        </div>

    </div>
    <div class="card bg-light mb-3 mr-4">
        <div class="card-header bg-secondary text-white text-uppercase h5"><svg class="mr-1 bi bi-bookmarks-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="margin-left: -10px; margin-top: -8px; font-size: 16px;">
  <path fill-rule="evenodd" d="M2 4a2 2 0 012-2h6a2 2 0 012 2v12l-5-3-5 3V4z" clip-rule="evenodd"/>
  <path d="M14 14l-1-.6V2a1 1 0 00-1-1H4.268A2 2 0 016 0h6a2 2 0 012 2v12z"/>
</svg> Contact Information</div>

        <div class="card-body">
            <p>2401 Taft Ave, Malate</p>
            <p>1004 Metro Manila</p>
            <p>Philippines</p>
            <label>Email: </label>
            <p>official_foorum@gmail.com</p>
            <p>Mobile: (+63) 9293150238</p>
        </div>
    </div>
</div>