<!-- *******************************************  Container  ******************************************* !-->
		<div class="bg-white mx-auto rounded-lg shadow-lg py-1 px-3" style="min-height: 600px; width: 90%; min-height: max-content; display: table;">
			<!-- *******************************************  Author  ******************************************* !-->
			<div class="postHeader">
				<img src="graphics/keiKobayashi.png" class="postAuthorPic">
				<div class="postInfo">
					<div class="postTitle">Yushoken The Best</div>
					<div class="postTime">Started by Kei Kobayashi, 5h ago</div>
				</div>
			</div>


			<!-- *******************************************  Content  ******************************************* !-->
			<div class="pb-2 rounded-lg table contentContainer" style="min-height: max-content;">
				<div class="rounded-sm px-3 py-1 mb-2 repliesHeader" style="height: 35px;">
					# reply to this topic
				</div>


				<!-- *******************************************  Reply Table  ******************************************* !-->

				<!-- *******************************************  User Reply  ******************************************* !-->
				<div class="w-100 userContainer">
					<input type="hidden" class="postID" value="0">
					<div class="rounded-sm px-2 mx-2 d-flex userReply" style="height: 35px;">
							<p class="replyUsername mr-auto h-100 py-1" style="width: max-content;">Kei Kobayashi</p>
							<p class="lead h-100" style="font-size: 12px; padding-top: 7px; width: max-content;">#X</p>
					</div>


					<!-- *******************************************  Reply Content  ******************************************* !-->
					<div class="mx-2 rounded d-flex replyContent" style="min-height: 50px;">
						<div class="replyProfile px-1 py-2">
							<a href="overview"><img src="graphics/keiKobayashi.png" class="replyPic rounded"><br></a>
								Member<br>
								1 post
						</div>
						<div class="px-3 w-100">
							<div class="py-1 d-flex">
								<p class="postTime mr-auto">Posted # ago</p>
								<!--
								<button class="btn mx-1 reportBtn" id="reportBtn" style="display: none;">Report</button>
								<button class="btn quoteBtn" id="quoteBtn" style="display: none;">Quote</button>
								!-->
							</div>

							<div class="d-flex userMessage">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
									consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
									cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
									proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								
							</div>
							<div class="my-3 d-flex" style="height: max-content;">
								<div class="mr-auto"></div>
								<button class="btn downvoteBtn btn-disabled"><i class="fas fa-thumbs-down"></i></button>
								<button class="btn mx-1 upvoteBtn btn-disabled"><i class="fas fa-thumbs-up"></i></button>
								<div class="upvoteCount" id="upvoteCount">0</div>
							</div>
						</div>
					</div>


					<!-- *******************************************  User Reply  ******************************************* !-->
				<div class="w-100 userContainer">
					<input type="hidden" class="postID" value="1">
					<div class="rounded-sm px-2 mx-2 d-flex userReply" style="height: 35px;">
							<p class="replyUsername mr-auto h-100 py-1" style="width: max-content;">Kei Kobayashi</p>
							<p class="lead h-100" style="font-size: 12px; padding-top: 7px; width: max-content;">#X</p>
					</div>


					<!-- *******************************************  Reply Content  ******************************************* !-->
					<div class="mx-2 rounded d-flex replyContent" style="min-height: 50px;">
						<div class="replyProfile px-1 py-2">
							<a href="kuyaWell.html"><img src="graphics/kuyaWell.png" class="replyPic rounded"><br></a>
								Member<br>
								1 post
						</div>
						<div class="px-3 w-100">
							<div class="py-1 d-flex">
								<p class="postTime mr-auto">Posted # ago</p>
								<!--
								<button class="btn mx-1 reportBtn" id="reportBtn" style="display: none;">Report</button>
								<button class="btn quoteBtn" id="quoteBtn" style="display: none;">Quote</button>
								!-->
							</div>

							<div class="d-flex userMessage">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								
							</div>
							<div class="my-3 d-flex" style="height: max-content;">
								<div class="mr-auto"></div>
								<button class="btn downvoteBtn btn-disabled"><i class="fas fa-thumbs-down"></i></button>
								<button class="btn mx-1 upvoteBtn btn-disabled"><i class="fas fa-thumbs-up"></i></button>
								<div class="upvoteCount" id="upvoteCount">0</div>
							</div>
						</div>
					</div>
				</div>

				<div class="py-3" id="replyBox" style="display: none;">
					<!-- *******************************************  Reply Box  ******************************************* !-->
					<div class="replyContent mx-2 rounded d-flex" style="min-height: 50px; height: max-content;">
						<div class="p-3 d-flex" style="height: max-content">
							<a href="kuyaWell.html"><img src="graphics/default.png" class="postAuthorPic rounded"></a>
						</div>

						<div class="px-3 mt-3  mb-2 w-100">
							<form class=""  onsubmit="return false;" style="display: grid;">
								<textarea class="ta w-100 form-control" id="ta" rows="5" placeholder="Your message here...." required></textarea>
							</form>

							<div class="d-flex mt-2">
								<div class="mr-auto"></div>
								<button class="btn btn-dark" id="postBtn" type="submit">Post</button>
							</div>
						</div>
					</div>
				</div>
					


			</div>
		</div>
	</div>