<div class="mx-auto w-100 mb-4">
	<div class="card bg-light mb-3 mx-4 pb-5">
	<div class="card-header bg-dark text-white text-uppercase mb-5 h5"><svg class="bi bi-people-circle" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="margin-left: -5px; margin-top: -5px;">
  <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 008 15a6.987 6.987 0 005.468-2.63z"/>
  <path fill-rule="evenodd" d="M8 9a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
  <path fill-rule="evenodd" d="M8 1a7 7 0 100 14A7 7 0 008 1zM0 8a8 8 0 1116 0A8 8 0 010 8z" clip-rule="evenodd"/>
</svg> The Team</div>
	<div class="card-deck">
	<div class="card border border-dark shadow mx-5 teamCardSize">
		<div class="card-img-top">
			<img src="/graphics/team/martin.PNG" class="teamPic">
		</div>
		<div class="card-footer flex-fill border-top border-dark rounded-bottom teamAbout">
			<div class="text-center">
				<h2>Martin Cu</h2>
				<div class="">
					<p>Student Developer</p>
					<p>De La Salle University</p>
					<p>College of Computer Studies</p>
				</div>
			</div>
		</div>
	</div>

	<div class="card border border-dark shadow mx-5 teamCardSize">
		<div class="card-img-top">
			<img src="/graphics/team/sofia.PNG" class="teamPic">
		</div>
		<div class="card-footer flex-fill border-top border-dark rounded-bottom teamAbout">
			<div class="text-center">
				<h2>Sofia Cuevas</h2>
				<div class="">
					<p>Student Developer</p>
					<p>De La Salle University</p>
					<p>College of Computer Studies</p>
				</div>
			</div>
		</div>
	</div>

	<div class="card border border-dark shadow mx-5 teamCardSize">
		<div class="card-img-top">
			<img src="/graphics/team/sean.PNG" class="teamPic">
		</div>
		<div class="card-footer flex-fill border-top border-dark rounded-bottom teamAbout">
			<div class="text-center">
				<h2>Sean Nerie</h2>
				<div class="">
					<p>Student Developer</p>
					<p>De La Salle University</p>
					<p>College of Computer Studies</p>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
</div>